<html>
  <head>
    {% if title %}
    <title>{{ title }} - Dog SVStore</title>
    {% else %}
    <title>Dog SVStore</title>
    {% endif %}
        <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
  </head>
  <body>
    <div>Dog SVStore: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
  <footer class="footer">
   <p class="alignleft">
    <a href="about">About</a>
    <a href="docs">Documentation</a>
   </p>
   <p class="alignright">
    <a href="library">Library</a>
    <a href="build">Build</a>
    <a href="advanced">Advanced</a>
   </p>
  </footer>
</html>