{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function move_selected(from, to) {
    return !$(from + ' option:selected').remove().appendTo(to);
  };

  function select_all() {
    $('#breed_include option').prop('selected', true);
    $('#sample_include option').prop('selected', true);
    $('#tool_include option').prop('selected', true);
  }

  $(document).ready( function() {
    $('#breed_exclude').dblclick( function(){move_selected('#breed_exclude', '#breed_include')} );
    $('#breed_include').dblclick( function(){move_selected('#breed_include', '#breed_exclude')} );
    $('#sample_exclude').dblclick( function(){move_selected('#sample_exclude', '#sample_include')} );
    $('#sample_include').dblclick( function(){move_selected('#sample_include', '#sample_exclude')} );
    $('#tool_exclude').dblclick( function(){move_selected('#tool_exclude', '#tool_include')} );
    $('#tool_include').dblclick( function(){move_selected('#tool_include', '#tool_exclude')} );
    $('#submit').click(select_all() );
  });
</script>

  <h1>Builder</h1>
  <form action="" method="post" name="record">
      {{ form.hidden_tag() }}
      <p>
          Chrmosome: {{ form.chrom(size=20) }}
      </p>
      <p>
          Range: {{ form.pos(size=12) }} to {{ form.pos2(size=12) }}
      </p>
      <p>
          Length: {{ form.length(size=8) }}
      </p>
      <p>
          Filter: {{ form.filt(size=20) }}
      </p>
      <p>{{ form.DEL }} DEL {{ form.DUP }} DUP {{ form.INS }} INS {{ form.INV }} INV {{ form.TRA }} TRA {{ form.SIN }} SIN {{ form.LIN }} LIN {{ form.BXP }} BXP</p>
      <p>Breeds: </p>
      <p>{{form.breed_exclude()}}
      {{form.breed_include()}}</p>
      <p>Samples: </p>
      <p>{{form.sample_exclude()}}
      {{form.sample_include()}}</p>
      <p>Tools: </p>
      <p>{{form.tool_exclude()}}
      {{form.tool_include()}}</p>
      <p><input type="submit" value="Query" id="submit" name="submit" action="{{ url_for('results') }}"></p>
  </form>
{% endblock %}