{% extends "base.html" %}

{% block content %}
  <h1>Builder <button id="openModal" type="button" class="btn btn-primary">Columns</button></h1>
  <!-- Trigger/Open The Modal -->
  <hr>
  <!-- The Modal -->
  <div id="chooseCols" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="container">
        <h2><center>Select Columns</center></h2>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#records">Records</a></li>
          <li><a data-toggle="tab" href="#samples">Samples</a></li>
          <li><a data-toggle="tab" href="#genotypes">Genotypes</a></li>
          {% for t in tools %}
          <li><a data-toggle="tab" href="#{{t}}">{{t}}</a></li>
          {% endfor %}
        </ul>

        <div class="tab-content">
          <div id="records" class="tab-pane fade in active">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              <p>{{cols.records_exclude(style="width:100%;height:200px;")}}</p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> {{cols.records_include(style="width:100%;height:200px;")}}</p>
            </div>
            <div class="col-sm-4">
              
            </div>
          </div>
          <div id="samples" class="tab-pane fade">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              <p>{{cols.samples_exclude(style="width:100%;height:200px;")}}</p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> {{cols.samples_include(style="width:100%;height:200px;")}}</p>
            </div>
            <div class="col-sm-4">
              
            </div>
          </div>
          <div id="genotypes" class="tab-pane fade">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              <p>{{cols.genotypes_exclude(style="width:100%;height:200px;")}}</p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> {{cols.genotypes_include(style="width:100%;height:200px;")}}</p>
            </div>
            <div class="col-sm-4">
              
            </div>
          </div>
          {% for t in tools %}
          <div id={{t}} class="tab-pane fade">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              {% set key = ("%s_info" % t) %}
              <p><select id="{{key}}_exclude" multiple name="{{key}}_exclude" style="width:100%;height:200px;">
                {% for c in columns[key] %} 
                <option value="{{c}}">{{c}}</option>
                {% endfor %}
              </select></p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> <p><select id="{{key}}_include" multiple name="{{key}}_include" style="width:100%;height:200px;">
              </select> </p>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <button id="closeModal" type="button" class="btn btn-primary">Close</button>
    </div>
  </div>
  <form action="" method="post" name="record">
    {{ form.hidden_tag() }}
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Record"><center>Record</center></a>
          </h4>
        </div>
        <div id="Record" class="panel-collapse collapse">
          <div class="row" style="padding:10px;">
            <div class="col-sm-4">
              <p>{{ form.homref }} Homozygous Reference</p>
              <p>{{ form.homalt }} Homozygous Alternate</p>
              <p>{{ form.het }} Heterozygous</p>
            </div>
            <div class="col-sm-4">
              <p>{{ form.DEL }} DEL</p>
              <p>{{ form.DUP }} DUP</p>
              <p>{{ form.INS }} INS</p>
              <p>{{ form.INV }} INV</p>
              <p>{{ form.TRA }} TRA</p>
              <p>{{ form.SIN }} SIN</p>
              <p>{{ form.LIN }} LIN</p> 
              <p>{{ form.BXP }} BXP</p>
            </div>
            <div class="col-sm-4">
              <div class="alignright">
                <p class="alignright">
                  Ref: {{ form.ref(size=20) }}
                </p><br>
                <p class="alignright">
                  Alt: {{ form.alt(size=20) }}
                </p><br>
                <p class="alignright">
                  Qual: {{ form.qual(size=20) }}
                </p><br>
                <p class="alignright">
                  Length: {{ form.len(size=20) }}
                </p><br>
                <p class="alignright">
                  Filter: {{ form.filter(size=20) }}
                </p><br>
              </div>
            </div>
          </div>
          
          
          
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Region"><center>Region</center></a>
          </h4>
        </div>
        <div id="Region" class="panel-collapse collapse">
          <div class="row" style="padding:10px;">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              <p>{{form.region_exclude(style="width:100%;height:100px;")}}</p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> {{form.region_include(style="width:100%;height:100px;")}}</p>
            </div>
            <div class="col-sm-4">
              <div class="alignright">
              <p class="alignright">Chrom: <input type="text" id="chrom"></p><br>
              <p class="alignright">Start: <input type="text" id="start"></p><br>
              <p class="alignright">End: <input type="text" id="end"></p><br>
              </div>
              <p>Chrom 2 <input type="checkbox" name="isSecond" id="isSecond"></p><br>
              
              <input type="button" value="Add" id="add" name="add" class="btn btn-primary">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Breed"><center>Breed</center></a>
          </h4>
        </div>
        <div id="Breed" class="panel-collapse collapse">
          <div class="row" style="padding:10px;">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              <p>{{form.breed_exclude(style="width:100%;height:100px;")}}</p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> {{form.breed_include(style="width:100%;height:100px;")}}</p>
            </div>
            <div class="col-sm-4">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Sample"><center>Sample</center></a>
          </h4>
        </div>
        <div id="Sample" class="panel-collapse collapse">
          <div class="row" style="padding:10px;">
            <div class="col-sm-4">
              <h5><center>Options</center></h5>
              <p>{{form.sample_exclude(style="width:100%;height:100px;")}}</p>
            </div>
            <div class="col-sm-4">
              <h5><center>Include</center></h5>
              <p> {{form.sample_include(style="width:100%;height:100px;")}}</p>
            </div>
            <div class="col-sm-4">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Tool"><center>Tool</center></a>
          </h4>
        </div>
        <div id="Tool" class="panel-collapse collapse">
          <h4><center>Filters</center></h4>
          <center>{{form.tool_clauses(style="width:75%;height:200px;")}}</center>
          <div class="container" style="width:75%;">
            <hr>
            <ul id="tools" class="nav nav-tabs">
              {% for t in tools %}
              <li><a data-toggle="tab" href="#{{t}}_tools">{{t}}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for t in tools %}
              <div id={{t}}_tools class="tab-pane fade">
                <div class="col-sm-4 centered">
                  <div style="width:100%;">
                    <center><h4>Columns</h4><center>
                    {% set key = ("%s_info" % t) %}
                    <select id="{{t}}_cols" multiple name="{{t}}_cols" style="width:100%;height:200px;">
                      {% for c in columns[key] %} 
                      <option value="{{c}}">{{c}}</option>
                      {% endfor %}
                    </select>
                    <ul class="selector" id="{{t}}_switch">
                      <li style="float:left;">
                        <input type="radio" id="{{t}}_info_switch" value="{{t}}_info" name="{{t}}_switch" checked="checked"/>
                        <label for="{{t}}_info_switch">{{t}}_info</label>
                      </li>
                      <li style="float:left;">
                        <input type="radio" id="{{t}}_samples_switch" value="{{t}}_samples" name="{{t}}_switch" />
                        <label for="{{t}}_samples_switch">{{t}}_samples</label>
                      </li>
                    </ul> 
                  </div>
                </div>
                <div class="col-sm-4 centered">
                  <ul class="selector" id="{{t}}_operators">
                    <center>
                      <li>
                        <input type="radio" id="{{t}}_less" value="<" name="{{t}}_operator" />
                        <label for="{{t}}_less"><</label>
                      </li>
                      <li>
                        <input type="radio" id="{{t}}_more" value=">" name="{{t}}_operator" />
                        <label for="{{t}}_more">></label>
                      </li>
                      <li>
                        <input type="radio" id="{{t}}_equal" value="=" name="{{t}}_operator" />
                        <label for="{{t}}_equal">=</label>
                      </li>
                      <li>
                        <input type="radio" id="{{t}}_between" value="between" name="{{t}}_operator" />
                        <label for="{{t}}_between">between</label>
                      </li>
                    </center>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <p class="centered">
                    <input type="text" id="{{t}}_val" style="width:100%;">
                  </p>
                </div>
                <p class="alignright">
                  <input type="button" value="Add" id="{{t}}_add" name="{{t}}_add" class="btn btn-primary">
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><input type="submit" value="Query" id="submit" name="submit" class="btn btn-primary"></p>
  </form>
  <script type="text/javascript">
  $('#tools a:first').tab('show');
    function move_selected(from, to) {
      return !$(from + ' option:selected').remove().appendTo(to);
    };

    function select_all(box) {
      return !$(box + ' option').prop('selected', true);
    }

    $(document).ready( function() {
      $('#form-breed_exclude').dblclick( function(){move_selected('#form-breed_exclude', '#form-breed_include')});
      $('#form-breed_include').dblclick( function(){move_selected('#form-breed_include', '#breed_exclude')});
      $('#form-sample_exclude').dblclick( function(){move_selected('#form-sample_exclude', '#form-sample_include')});
      $('#form-sample_include').dblclick( function(){move_selected('#form-sample_include', '#form-sample_exclude')});
      $('#form-tool_exclude').dblclick( function(){move_selected('#form-tool_exclude', '#form-tool_include')});
      $('#form-tool_include').dblclick( function(){move_selected('#form-tool_include', '#form-tool_exclude')});
      $('#form-region_exclude').dblclick( function(){move_selected('#form-region_exclude', '#form-region_include')});
      $('#form-region_include').dblclick( function(){move_selected('#form-region_include', '#form-region_exclude')});
      {% for t in tools %}
      {% set key = ("%s_info" % t) %}
      $('#{{key}}_include').dblclick( function(){move_selected('#{{key}}_include', '#{{key}}_exclude')});
      $('#{{key}}_exclude').dblclick( function(){move_selected('#{{key}}_exclude', '#{{key}}_include')});

      $('#{{t}}_add').click( function(){
        var e = document.getElementById("{{t}}_cols");
        var col =  e.name + "." + e.options[e.selectedIndex].value;
        var operator = $('input[name=dly_operator]:checked').val();
        var val = document.getElementById('{{t}}_val').value;
        clause = col + " " + operator + " " + val;
        return $('#form-tool_clauses').append("<option value=\"" + clause + "\">" + clause + "</option>")
      });

      {% set key = ("%s_info" % t) %}
      $('#{{t}}_info_switch').click( function(){
          $('#{{t}}_cols option').remove();
          $("{% for c in columns[key] %} <option value=\"{{c}}\">{{c}}</option>{% endfor %}").appendTo('#{{t}}_cols');
          document.getElementById("{{t}}_cols").setAttribute("name","{{key}}");
      });
      {% set key = ("%s_samples" % t) %}
      $('#{{t}}_samples_switch').click( function(){
          $('#{{t}}_cols option').remove();
          $("{% for c in columns[key] %} <option value=\"{{c}}\">{{c}}</option>{% endfor %}").appendTo('#{{t}}_cols');
          document.getElementById("{{t}}_cols").setAttribute("name","{{key}}");
      });
      {% endfor %}

      $('#submit').click(function(){
        select_all('#form-breed_include');
        select_all('#form-sample_include');
        select_all('#form-tool_include');
        select_all('#form-region_include');
        select_all('#form-tool_clauses');
        select_all('#cols-records_include');
        select_all('#cols-samples_include');
        select_all('#cols-genotypes_include');
      });

      $('#cols-records_exclude').dblclick( function(){move_selected('#cols-records_exclude', '#cols-records_include')} );
      $('#cols-records_include').dblclick( function(){move_selected('#cols-records_include', '#cols-records_exclude')} );
      $('#cols-samples_exclude').dblclick( function(){move_selected('#cols-samples_exclude', '#cols-samples_include')} );
      $('#cols-samples_include').dblclick( function(){move_selected('#cols-samples_include', '#cols-samples_exclude')} );
      $('#cols-genotypes_exclude').dblclick( function(){move_selected('#cols-genotypes_exclude', '#cols-genotypes_include')} );
      $('#cols-genotypes_include').dblclick( function(){move_selected('#cols-genotypes_include', '#cols-genotypes_exclude')} );
      $('#openModal').click(function() {
        chooseCols.style.display = "block";
      });
      $('#closeModal').click(function() {
        chooseCols.style.display = "none";
      });
      $('#add').click(function() {
        if (document.getElementById('chrom').value.length > 0 & document.getElementById('start').value.length > 0 & document.getElementById('end').value.length > 0) {
          if (document.getElementById('isSecond').checked){
            region = "chrom2 is " + document.getElementById('chrom').value + " and pos2 between " + document.getElementById('start').value + " and " + document.getElementById('end').value;
          } else {
            region = "chrom is " + document.getElementById('chrom').value + " and pos between " + document.getElementById('start').value + " and " + document.getElementById('end').value;
          }
          document.getElementById('chrom').value = "";
          document.getElementById('start').value = "";
          document.getElementById('end').value = "";
          return $('#form-region_include').append("<option value=" + region + ">" + region + "</option>");
        }
      });
    });
  </script>
{% endblock %}