{% extends "base.html" %}
{% block content %}
    <style>
        *{
            padding: 0;
            margin:0;
        }
    </style>
    <form action="" method="post" name="record">
        <h1>Query</h1>
        <div class="wrapper">
            <div id="editor">{{query}}</div>
            {{form.input_query}}
            <div class="controls">
                <input type="submit" value="Query" id="submit" name="submit" class="btn btn-primary sharp">
            </div>
        </div>
    </form>
    <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.getSession().setUseWorker(false);
        editor.setTheme("ace/theme/textmate");
        editor.getSession().setMode("ace/mode/sql");
        editor.value = document.getElementById('input_query').value;

        $(document).ready( function() {
            $('#submit').click(function(){
                document.getElementById('input_query').value = editor.getValue();
            });

        });

    </script>
{% endblock %}